# Load .env variables automatically with direnv
# http://direnv.net/

# layout gb

# sourced from https://dev.to/maelvls/why-is-go111module-everywhere-and-everything-about-go-modules-24k
export GO111MODULE=on
export GOPRIVATE=git.sr.ht/~paul/\*
export GOFLAGS=-mod=vendor

if [ -e ./.env ]
then
  dotenv
fi

if [ -e ./.env.local ]
then
  dotenv .env.local
fi
