[Unit]
Description=Logsnarf listen socket

[Socket]
ListenStream=80
ListenStream=443
NoDelay=true
ReusePort=true
Backlog=1024

[Install]
WantedBy=sockets.target
