[Unit]
Description=Logsnarf Web Server
Requires=logsnarf.socket
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ec2-user/src/logsnarf
ExecStart=falcon serve
Environment=USER=ec2-user HOME=/home/ec2-user RACK_ENV=production
User=ec2-user
Group=ec2-user
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target

