[Unit]
Description=Logsnarf Web Server
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ec2-user/src/logsnarf
ExecStart=/home/ec2-user/src/logsnarf/bin/falcon serve --bind http://0.0.0.0:8000 --count 2
Environment=USER=ec2-user HOME=/home/ec2-user RACK_ENV=production AWS_REGION=us-east-2
User=ec2-user
Group=ec2-user
Restart=always

[Install]
WantedBy=multi-user.target

