[Unit]
Description=Logsnarf App Server
After=caddy2.target
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/logsnarf/current
ExecStart=/var/www/logsnarf/current/bin/falcon serve --bind http://0.0.0.0:8000 --count 2
EnvironmentFile=/var/www/logsnarf/current/config/production.env
User=logsnarf
Group=logsnarf
Restart=always

[Install]
WantedBy=multi-user.target

