[Unit]
Description=Logsnarf App Server
After=caddy2.target
After=syslog.target
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/www/logsnarf/current
ExecStart=/var/www/logsnarf/current/bin/falcon serve --bind http://0.0.0.0:8000
EnvironmentFile=/var/www/logsnarf/current/ops/environments/production.env
User=logsnarf
Group=logsnarf
Restart=always
LimitNPROC=4096

[Install]
WantedBy=multi-user.target

